html, body, div, table, tr, td, span, h1, h2 {
  margin: 0; padding: 0;
}

html {
  font-size: 10pt;
  overflow-y: scroll;
  background: #444;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#statusbar {
  position: fixed;
  top: 0; left: 0;
  background: #000;
  width: 100%; height: 20px;
  opacity: 0.6;
}

#header {
  text-align: center;
  font-size: 26pt;
  padding: 10px 0 20px 0;
}

#footer {
  background: #bbb;
  padding: 2px 0 2px 20px;
}

#canvas {
  display: none;
}
#image {
  min-width: 100px;
  max-width: 100%;
}

/* [Main Frame] ============================================== */
#Flowchartmaker {
  position: relative;
  box-sizing: border-box;
  background: #fff;
}

#flowchart_preview_container {
  box-sizing: border-box;
  background: #eee;
  border: 1px solid #ccc;
  text-align: center;
  vertical-align: top;
  overflow: scroll;
  white-space: nowrap;
}
/* #flowchart_preview_container > div { */
/*   width: 600px; */
/*   min-height: 100%; */
/* } */
.flowchart_preview_container_line {
  display: inline-block;
  box-sizing: border-box;
  text-align: left;
  width: 180px; min-height: 100%;
  padding: 10px;
  vertical-align: top;
  white-space: normal;
}

#flowchart_canvas_container {
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #ccc;
  text-align: center;
  vertical-align: top;
  overflow: scroll;
}

/* [Preview Container] ======================================= */
.pv_items {
  display: block;
  box-sizing: border-box;
  background: #aaa;
  border: 1px solid #777;
  width: 100%; height: 90px;
  text-align: center;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  margin: 4px 0;
  padding: 4px 4px;
  z-index: 10;
}
.pv_items > div {
 /* vertical-align: middle; */
  display: block;
  height: 16px; line-height: 16px;
  font-size: 10pt;
  z-index: 11;
}
.itemclose_button {
  display: inline-block;
  font-size: 8pt;
  font-weight: bold;
  float: right;
  border: 1px solid #888;
  background: #fdd; color: #c33;
  margin: 0 0 0 4px;
  width: 20px;
}
.itemclose_button:hover {
  background: #faa;
}

.itemconnect_button {
  text-align: center;
  width: 20px;
  float: right;
  box-sizing: border-box;
  display: inline-block;
  font-size: 8pt;
  cursor: pointer;
  margin: 0 0 0 2px;
  padding: 0 3px;
  border: 1px solid #888;
  font-weight: bold;
  background: #88f; color: #66f;
}

.pv_text {
  box-sizing: border-box;
  resize: none;
  font-size: 10pt;
  width: 100%; height: 50px;
  border: 1px solid #888;
  /* border-radius: 5px; */
  padding: 2px;
  margin: 4px 0 0 0;
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
  z-index: 11;

}

.ui-state-highlight {
  display: inline-block;
  box-sizing: border-box;
  width: 100%; height: 90px;
  background: #ddddff;
  border: dotted 1px #aaaaff;
}
/* [Menu Window] ============================================= */
#menu_window {
}

#menu_window_title {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 4px 0;
  color: #eef;
  font-weight: bold;
}

#menu_window_0 {
  padding: 7px 7px 4px 7px;
  background: #bbf;
}
#menu_window_2 {
  padding: 7px 7px 4px 7px;
  background: #bbf;
}

#menu_window_1 {
  padding: 7px 7px 4px 7px;
  background: #ddf;
}

#menu_button_container {
  text-align: center;
}

#menu_submit_container {
  text-align: center;
  padding: 2px 0 0 0;
}

.itembutton {
  display: inline-block;
  border: 1px solid #aaa;
  min-width: 50px; height: 30px; line-height: 30px;
  color: #000; background: #fff;
  margin: 3px 3px;
  /* box-shadow: 1px 1px 1px rgba(0,0,0,0.1); */
}
.itembutton:hover {
  background: #bbf;
}

textarea, .pv_text {
  user-select: text;
  -moz-user-select: text; -o-user-select: text;
  -webkit-user-select: text; -ms-user-select: text;
}

.pv_text:disabled {
  background: #bbb;
}

#submit_button {
  display: inline-block;
  box-sizing: border-box;
  font-weight: bold;
  border: 1px solid #aaa;
  text-align: center;
  width: 100%; height: 36px; line-height: 36px;
  margin: 4px 0;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  color: #000; background: #eef;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#submit_button:hover {
  background: #aaf;
}


/* ============================================================ */
#json_output {
  /* display: none; */
  display: block;
  max-width: 96%;
  background: #fff;
  margin: 10px auto 0 auto;
  border: 1px solid #aaa;
  word-break: break-all;
  text-align: left;
}

.window {
  position: fixed;
  min-width: 240px;
  max-width: 96%;
  z-index: 9999;
  display: none;
  background: #fff;
  font-size: 9pt;
  padding: 10px;
  text-align: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  max-width: 80%;
}

#allclear_window {
  text-align: center;
}

#output_window {
  text-align: center;
}

#load_window {
  box-sizing: border-box;
  width: 96%;
  text-align: center;
}
#json_load {
  display: block;
  height: 200px;
  width: 98%;
}

#help_window {
  text-align: center;
}
#help_text {
  text-align: left;
}

/* button -------------------------------------------------- */
.yes_button, .no_button, .ok_button {
  width: 80px; height: 30px; line-height: 30px;
  display: inline-block;
  box-sizing: border-box;
  margin: 10px 10px 10px 10px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-weight: bold;
}
.yes_button {
  border: 1px solid #f00;
  background: #fdd;
  color: #b00;
}
.no_button {
  border: 1px solid #00f;
  background: #ddf;
  color: #00b;
}
.ok_button {
  border: 1px solid #0a0;
  background: #ada;
  color: #080;
}

/* modal */
#modal_bg {
  z-index: 2000;
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 120%;
  background: rgba(0,0,0,0.7);
}

/* [Button] =================================================== */
#allclear_button { background: #fdd; color: #900; }
#allclear_button:hover { background: #f99; color: #900; }
div.bbutton {
  display: inline-block;
  text-align: center;
  width: 55px;
  height: 30px; line-height: 30px;
  padding: 0;
  font-size: 10pt;
  background: #ddf;
  border: 1px solid #999;
  /* border-radius: 4px; */
}
div.bbutton:hover {
  background: #99f;
}

.sbutton, .lbutton {
  display: inline-block;
  text-align: center;
  width: 55px;
  height: 30px; line-height: 30px;
  padding: 0;
  font-size: 10pt;
  background: #ddf;
  border: 1px solid #999;
}
.lbutton { margin-top: 4px; }
.sbutton:hover, .lbutton:hover {
  background: #99f;
}

/* [Misc] ===================================================== */

.button {
  cursor: pointer;
  text-align: center;
  user-select: none;
  -moz-user-select: none; -o-user-select: none;
  -webkit-user-select: none; -ms-user-select: none;
}

.noselect {
  cursor: default;
  user-select: none;
  -moz-user-select: none; -o-user-select: none;
  -webkit-user-select: none; -ms-user-select: none;
}

.select {
  cursor: auto;
  user-select: ; text;
  -moz-user-select: text; -o-user-select: text;
  -webkit-user-select: text; -ms-user-select: text;
}

.center { text-align: center; }
.left { text-align: left; }
